.parent{
    position: relative;
    text-align:center;
    padding:15px;
}

.card{
    position: relative;
    padding:50px;
    border:1px solid blue;
    display: inline-block;
    margin-right:10px;
    margin-bottom:10px;
}

h1{
    text-align:center;
    color:blue;
    margin-bottom:30px;
}
